.section-title {
  margin: 40px 0 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #030303;
}

.section-scroll {
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.section-scroll::-webkit-scrollbar {
  display: none;
}

.section-row {
  display: flex;
  gap: 25px;
  padding: 10px 5px;
}
