.movie-details {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.movie-detail-img {
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.movie-detail-info {
  flex: 1;
  color: #fff;
}

.movie-detail-info h2 {
  margin-bottom: 15px;
}
