.movie-card {
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #000;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.movie-img {
  height: 330px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.movie-card .card-title {
  color: white !important;
  font-size: 1.1rem;
  font-weight: 600;
}

.movie-card .card-text {
  color: #d0d0d0 !important;
  font-size: 0.9rem;
}
